body {
    background-color: #F4E3DF;
}
.container {
    padding: 0 100px 0 100px;
}
nav {
    max-width: 960px;
    margin: 0 auto;
    padding: 10px 0;
    margin-right: 0x;
    background-color: #fffcfb ;

}
nav > ul{
    text-align: right;
}
nav ul > li {
    display: inline-block;
    font-size: 20px;
}
nav > ul > li > a {
    padding: 18px;
    margin-right: 0;
    text-decoration: none;
    color: #F46142 ;
    display: block;
}
nav > ul > li > a:hover{
    background-color: #cecbcb;;
}
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
    color: #F46142;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
table td,th{
    padding: 5px;
    border: 2px solid black;

}

img {
    border-radius: 15px;
    height: 500px;
    width: 330px;
}
.projects{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}